.container {
  display: flex;
  flex: 1;
  justify-content: stretch;
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
}

.menuContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  flex-shrink: 0;
  width: 300px;
}

.menuOverlay {
  display: none;
}

.menu {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  background-color: #fffaf2;
}

.answerItem {
  padding-top: 40px;
}

@media (max-width: 700px) {
  .contentHeader {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
  }


  .menuContainer {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    display: none;
    z-index: 20;
    width: 100%;
  }

  .menuContainer.open {
    display: block;
  }

  .menuContainer.visible {
    transform: translateX(0);
  }

  .menuOverlay {
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    transition: opacity .3s;
    width: 100%;
    display: block;
    z-index: 1;
  }

  .visible .menuOverlay {
    opacity: 1;
  }

  .menu {
    position: absolute;
    top: 0; bottom: 0; right: 0;
    transform: translateX(300px);
    transition: transform .3s;
    z-index: 2;
  }

  .visible .menu {
    transform: translateX(0);
  }
}
