.modal {
  opacity: 0;
  transform: scale(.7);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.16);
}
.modalOpen {
  opacity: 1;
  transform: scale(1);
}
.modalClose {
  opacity: 0;
  transform: scale(.7);
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: right;
}

.controls > * {
  margin-left: 10px;
}