.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: right;
}

.controls > * {
  margin-left: 10px;
}